.first.full-name::after {
    content:"";
    background-image:url("/secure-media-uploads/uploads/original/4X/7/7/7/777660a0cd6fa1b6d9f405babffc348b2edd06f2.png");
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    background-size:16px 16px;
}
